body {
	font-size: 1.2em;
}

h1 {
	font-size: 55px;
	margin:0;
	padding:0;
	margin-bottom:40px;
  line-height: initial;
  text-transform: uppercase;
}

.section-container {
	min-height: 640px;
	position: relative;
	max-width: $max-width;
	margin:0 auto;
	&.background-white {
		background: $background-white;
	}
	&.background-gray {
		background: $background-gray;
	}
	&.section-dark {
		color: $white;
	}
	&#sct-1 {
		padding:0;
		min-height: auto;
		h1 {
			margin-top:50px;
		}
		p {
			margin-bottom:50px;
		}
	}
	&#sct-2 {
		background-image: url("../../images/background-sct-2.jpg");
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		h1 {
			margin-top:0;
		}
		h1, h2 {
			color: $orange-2;
		}
	}
	&#sct-3 {
		span {
			background: $orange-2;
			display:block;
			padding:20px 0;
			margin-top:25px;
			color: $white;
		}
		@media (min-width: 992px) {
			padding-bottom: 22px;
			.mg-top {
				margin-top:0;
			}
		}
	}
	&#sct-4 {
		background-color: #3a3a3a;
		background-image: url("../../images/background-sct-4.jpg");
		background-position: top right;
		background-repeat: no-repeat;
		background-size: cover;
		p {
			b {
				display:block;
				color: $orange-2;
			}
		}
		ul {
			padding-left: 20px;
		}
		@media (max-width: 992px) {
			background: #3a3a3a;
		}
	}
	&#sct-5 {
		#clientes {
			.owl-nav {
				margin-top:20px;
				[class*=owl-] {
					color: #333333;
			    font-size: 34px;
			    margin: 10px;
			    background: transparent;
				}
			}
			.owl-dots {
				display:none;
			}
			.owl-stage-outer {
				padding:40px 0;
			}
		}
	}
	&#sct-6 {
		padding:0;
		min-height: auto;
		.pjt-1 {
			position: relative;
			background-color: #000000;
			.text-circle {
				position:absolute;
				width: 388px;
				height: 388px;
				background-image: url("../../images/bg-text-projetos-servicos.png");
				background-size: 100% auto;
				top:50%;
				left:50%;
				margin-top:-194px;
				margin-left:-194px;
				color:#fff;
				div {
					width:100%;
					h1 {
						margin-top: 50px;
						margin-bottom: 30px;
						position:relative;
						&:before {
							content: '';
							position: absolute;
							width: 50px;
							height: 3px;
							left: 50%;
							margin-left:-25px;
							top:-25%;
							background:$orange-2;
						}
					}
					a {
						display:inline-block;
						color:#fff;
						background: $orange-2;
						text-decoration:none;
						border-radius: 100%;
						width: 50px;
						height:50px;
						svg {
							width:26px;
							margin-top: 12px;
						}
						&:hover {
					    -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					    -webkit-transform: rotate(90deg);
					    transform: rotate(90deg);
					  }
					}
					span {
						display:none;
						background: $orange-2;
						border-radius: 100%;
						width: 50px;
						height:50px;
						position:relative;
					  -webkit-animation: sdb04 2s infinite;
					  animation: sdb04 2s infinite;
					  margin:0 auto;
						&:before {
							content:'';
						  position: absolute;
						  top: 6px;
						  left: 50%;
						  width: 24px;
						  height: 24px;
						  margin-left: -12px;
						  border-left: 1px solid #fff;
						  border-bottom: 1px solid #fff;
						  -webkit-transform: rotate(-45deg);
						  transform: rotate(-45deg);
						}
						@-webkit-keyframes sdb04 {
						  0% {
						    -webkit-transform: translate(0, 0);
						  }
						  20% {
						    -webkit-transform: translate(0, 10px);
						  }
						  40% {
						    -webkit-transform: translate(0, 0);
						  }
						}
						@keyframes sdb04 {
						  0% {
						    transform: translate(0, 0);
						  }
						  20% {
						    transform: translate(0, 10px);
						  }
						  40% {
						    transform: translate(0, 0);
						  }
						}
					}
				}
			}
			.item-pjt {
				float:left;
				width:50%;
				img {
					display: block;
					width: 100%;
					&.mg-bottom {
						margin-bottom:6px;
					}
				}
				&.it-pjt-1 {
					padding-right:3px;
				}
				&.it-pjt-2 {
					padding-left:3px;
				}
			}
		}
		.pjt-2 {
			display: none;
			padding: 40px 0 30px 0;
			.pjt-serv {
				display:none;
				border-top: 1px solid rgba(0,0,0,.1);
		    margin-bottom:50px;
		    padding-top:40px;
		    &:first-child {
		    	border:0;
		    }
				.my-gallery {
				  -moz-column-count: 2;
			    -webkit-column-count: 2;
			    column-count: 2;
			    -moz-column-gap: 8px;
			    -webkit-column-gap: 8px;
			    column-gap: 8px;
				  figure {
				    display: inline-block;
				    margin-bottom:8px;
					  img {
					    width: 100%;
					    	transition: opacity .2s ease-out;
					    &:hover {
					    	opacity: .75;
					    }
					  }
				    figcaption {
				    	display: none;
				    }
				  }
				}
				p {
					font-size: .9em;
				}
			}
			.bt-carregar-mais {
				border: 3px solid $orange-2;
				padding: 10px 20px;
				text-decoration:none;
				margin:10px 0px 40px 0;
				color:#333;
				display: inline-block;
				&:hover {
					background: $orange-2;
					color:#fff;
				}
			}
		}
	}
	&#sct-7 {		
		padding:0;
		min-height: auto;
		h1 {
			margin-top:50px;
			color: $orange-2;
		}
		p {
			margin-bottom:50px;
		}
		.container {
			z-index: 1;
			background:$white;
			border-radius: 100%;
		}
	}
}

@media screen and (max-width: 1199.98px) {

}

@media screen and (max-width: 991.98px) {
	body {
		font-size: 1rem;
	}
	.section-container {
		padding: 40px 0;
		min-height: auto;
		&#sct-6 {
			min-height:300px;
		}
	}
}

@media screen and (max-width: 767.98px) {
	h1 {
		font-size: 2.5em;
		text-align:center;
	}
	h2 {
		font-size: 2em;
	}
	.section-container {
		padding: 40px 0;
		min-height: auto;
		&#sct-3 {
			span {
				margin-top:0;
			}
		}
		&#sct-5 {
			#clientes {
				.owl-stage-outer {
					padding:0 0;
				}
			}
		}
	}
}

@media screen and (max-width: 575.98px) {
	h1 {
		font-size: 2em;
		text-align:center;
	}
	h2 {
		font-size: 1.5em;
	}
}