@font-face {
  font-family: "Gotham Black";
  src: url('../font/gotham/gotham-black.woff2') format('woff2'),
  		 url('../font/gotham/gotham-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Bold";
  src: url('../font/gotham/gotham-bold.woff2') format('woff2'),
  		 url('../font/gotham/gotham-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Book";
  src: url('../font/gotham/gotham-book.woff2') format('woff2'),
  		 url('../font/gotham/gotham-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Light";
  src: url('../font/gotham/gotham-light.woff2') format('woff2'),
  		 url('../font/gotham/gotham-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Medium";
  src: url('../font/gotham/gotham-medium.woff2') format('woff2'),
  		 url('../font/gotham/gotham-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}